<form action="/new" method="POST">
  <!-- <input type="text" name="name"></input> -->
  <!-- <input type="text" name="description"></input> -->
  <!-- <input type="submit"></input> -->
</form>

{% for item in items %}
  <p> Checkpoint - {{ item.all_info_for_km }} </p>
  <p> Open Time - {{ item.all_info_for_open }} </p>
  <p> Close Time - {{ item.all_info_for_close }} </p>
  <h1> ----------------------------- </h1>
{% endfor %}
